.container {
  width: 100%;
  max-width: 1380px;
  padding: 0 40px;
  margin: 0 auto;
}
/* header */
.header {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
  position: fixed;
  // height: 300px;
  z-index: 999;
  .container {
    @include flex(row, space-between, center);
    position: relative;
    z-index: 1000;
    .logo_wrap {
      .logo {
        max-height: 28px;
        display: block;
        img {
          height: 100%;
        }
      }
    }
    .menu {
      @include flex;
      .depth1 {
        @include flex(row, flex-start, flex-start);
        column-gap: 20px;
        > li {
          position: relative;
          > a {
            display: block;
            font-size: 19px;
            font-weight: 500;
            line-height: 80px;
            padding: 0 30px;
          }
          .depth2 {
            width: 100%;
            display: block;
            position: absolute;
            top: 110%;
            left: 0;
            li {
              text-align: center;
              a {
                display: block;
                font-size: 17px;
                color: #AAA;
                margin: 9px 0;
              }
            }
          }
        }
      }
      .all_menu {
        @include flex;
        margin-left: 35px;
        i {
          font-size: 25px;
          color: #551A8B;
        }
      }
    }
  }
}
.section {
  &.first {
    position: relative;
    z-index: 0;
    background-image: url(../img/common/bg/rowgroup_bg.png);
    background-repeat: repeat;
    background-position: top center;
    background-size: contain;
    &::before {
      width: 278px;
      height: 221px;
      background-image: url(../img/main/main_bg.png);
      background-position: right 0 top 0;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 80px;
      right: 0;
    }
    &::after {
      width: 171px;
      height: 257px;
      background-image: url(../img/main/cont_cc02.png);
      background-position: right 0 bottom 0;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      right: 3%;
      bottom: -88px;
      z-index: -1;
    }
    .container {
      @include flex(row, space-between, flex-start);
      column-gap: 50px;
      padding-top: 140px;
      padding-bottom: 100px;
      .main_banner_wrap {
        width: 40%;
        max-width: 470px;
        .swiper {
          overflow: visible !important;
          &-wrapper {
            height: 470px;
            overflow: hidden;
            border-radius: 30px;
            .swiper_slide {
              height: 100%;
              img {
                display: block;
              }
            }
          }
          &-pagination-bullets {
            bottom: -30px !important;
          }
        }
      }
      .main_search_menu_wrap {
        width: 60%;
        .search_wrap {
          @include flex(row, flex-start, center);
          width: 100%;
          position: relative;
          margin-top: 10px;
          span {
            font-size: 22px;
            color: $main-theme-color;
            margin-right: 15px;
            font-weight: 500;
          }
          input {
            width: 100%;
            height: 66px;
            border: 2px solid $main-theme-color;
            border-radius: 5px;
            padding-left: 25px;
            font-size: 17px;
          }
          button {
            width: 66px;
            height: 66px;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $main-theme-color;
            border: none;
            color: #FFF;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            i {
              font-size: 30px;
            }
            &:hover {
              background-color: #0e8bb0;
            }
          }
        }
        .search_tag_wrap {
          width: 100%;
          margin-top: 12px;
          margin-left: 100px;
          span {
            a {
              color: #72949b;
              font-size: 17px;
              padding: 0 15px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .main_quick_menu_wrap {
          width: 100%;
          background-color: #fff;
          box-shadow: 1px 1px 5px #CCC;
          border-radius: 20px;
          margin-top: 50px;
          .top, .bottom {
            @include flex;
            width: 100%;
            .quick_menu {
              &:nth-of-type(2) {
                &::before {
                  position: absolute;
                  width: 1px;
                  height: 50px;
                  background-color: #DDD;
                  top: 50%;
                  left: 0;
                  content: "";
                  transform: translateY(-50%);
                } 
                &::after {
                  position: absolute;
                  width: 1px;
                  height: 50px;
                  background-color: #DDD;
                  top: 50%;
                  right: 0;
                  content: "";
                  transform: translateY(-50%);
                } 
              }
              &:hover {
                background-color: #F3FcF8;
                color: #008859;
                span {
                  color: #008859;
                }
                .quick_img {
                  transform: translateY(-5px);
                }
              }
            }
          }
          .top {
            .quick_menu {
              border-bottom: 1px solid #DDD;
            }
          }
          .quick_menu {
            @include flex(row, flex-start, center);
            padding: 30px 20px;
            width: calc(100% / 3);
            position: relative;
            transition: 0.5s ease all;
            .quick_img {
              @include flex;
              width: 90px;
              height: 90px;
              transition: 0.5s ease all;
            }
            .quick_text {
              p {
                font-size: 18px;
                font-weight: 400;
              }
              span {
                font-size: 15px;
                color: #888;
                transition: 0.5s ease all;
              }
            }
          }
        }
      }
    }
  }
  
}