@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.02em;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding: 0 40px;
  margin: 0 auto;
}

/* header */
.header {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
  z-index: 999;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.header .container .logo_wrap .logo {
  max-height: 28px;
  display: block;
}
.header .container .logo_wrap .logo img {
  height: 100%;
}
.header .container .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .container .menu .depth1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header .container .menu .depth1 > li {
  position: relative;
}
.header .container .menu .depth1 > li > a {
  display: block;
  font-size: 19px;
  font-weight: 500;
  line-height: 80px;
  padding: 0 30px;
}
.header .container .menu .depth1 > li .depth2 {
  width: 100%;
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
}
.header .container .menu .depth1 > li .depth2 li {
  text-align: center;
}
.header .container .menu .depth1 > li .depth2 li a {
  display: block;
  font-size: 17px;
  color: #AAA;
  margin: 9px 0;
}
.header .container .menu .all_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}
.header .container .menu .all_menu i {
  font-size: 25px;
  color: #551A8B;
}

.section.first {
  position: relative;
  z-index: 0;
  background-image: url(../img/common/bg/rowgroup_bg.png);
  background-repeat: repeat;
  background-position: top center;
  background-size: contain;
}
.section.first::before {
  width: 278px;
  height: 221px;
  background-image: url(../img/main/main_bg.png);
  background-position: right 0 top 0;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.section.first::after {
  width: 171px;
  height: 257px;
  background-image: url(../img/main/cont_cc02.png);
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  right: 3%;
  bottom: -88px;
  z-index: -1;
}
.section.first .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding-top: 60px;
  padding-bottom: 160px;
}
.section.first .container .main_banner_wrap {
  width: 40%;
  max-width: 470px;
}
.section.first .container .main_banner_wrap .swiper {
  overflow: visible !important;
}
.section.first .container .main_banner_wrap .swiper-wrapper {
  height: 470px;
  overflow: hidden;
  border-radius: 30px;
}
.section.first .container .main_banner_wrap .swiper-wrapper .swiper_slide {
  height: 100%;
}
.section.first .container .main_banner_wrap .swiper-wrapper .swiper_slide img {
  display: block;
}
.section.first .container .main_banner_wrap .swiper-pagination-bullets {
  bottom: -30px !important;
}
.section.first .container .main_search_menu_wrap {
  width: 60%;
}
.section.first .container .main_search_menu_wrap .search_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.section.first .container .main_search_menu_wrap .search_wrap span {
  font-size: 22px;
  color: #0e81a0;
  margin-right: 15px;
  font-weight: 500;
}
.section.first .container .main_search_menu_wrap .search_wrap input {
  width: 100%;
  height: 66px;
  border: 2px solid #0e81a0;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 17px;
}
.section.first .container .main_search_menu_wrap .search_wrap button {
  width: 66px;
  height: 66px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0e81a0;
  border: none;
  color: #FFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.section.first .container .main_search_menu_wrap .search_wrap button i {
  font-size: 30px;
}
.section.first .container .main_search_menu_wrap .search_wrap button:hover {
  background-color: #0e8bb0;
}
.section.first .container .main_search_menu_wrap .search_tag_wrap {
  width: 100%;
  margin-top: 12px;
  margin-left: 100px;
}
.section.first .container .main_search_menu_wrap .search_tag_wrap span a {
  color: #72949b;
  font-size: 17px;
  padding: 0 15px;
}
.section.first .container .main_search_menu_wrap .search_tag_wrap span a:hover {
  text-decoration: underline;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 5px #CCC;
  border-radius: 20px;
  margin-top: 50px;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top, .section.first .container .main_search_menu_wrap .main_quick_menu_wrap .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top .quick_menu:nth-of-type(2)::before, .section.first .container .main_search_menu_wrap .main_quick_menu_wrap .bottom .quick_menu:nth-of-type(2)::before {
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #DDD;
  top: 50%;
  left: 0;
  content: "";
  transform: translateY(-50%);
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top .quick_menu:nth-of-type(2)::after, .section.first .container .main_search_menu_wrap .main_quick_menu_wrap .bottom .quick_menu:nth-of-type(2)::after {
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #DDD;
  top: 50%;
  right: 0;
  content: "";
  transform: translateY(-50%);
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top .quick_menu:hover, .section.first .container .main_search_menu_wrap .main_quick_menu_wrap .bottom .quick_menu:hover {
  background-color: #F3FcF8;
  color: #008859;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top .quick_menu:hover span, .section.first .container .main_search_menu_wrap .main_quick_menu_wrap .bottom .quick_menu:hover span {
  color: #008859;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top .quick_menu:hover .quick_img, .section.first .container .main_search_menu_wrap .main_quick_menu_wrap .bottom .quick_menu:hover .quick_img {
  transform: translateY(-5px);
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .top .quick_menu {
  border-bottom: 1px solid #DDD;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .quick_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  width: 33.3333333333%;
  position: relative;
  transition: 0.5s ease all;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .quick_menu .quick_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  transition: 0.5s ease all;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .quick_menu .quick_text p {
  font-size: 18px;
  font-weight: 400;
}
.section.first .container .main_search_menu_wrap .main_quick_menu_wrap .quick_menu .quick_text span {
  font-size: 15px;
  color: #888;
  transition: 0.5s ease all;
}
.section.first .main_category {
  width: 100%;
  position: absolute;
  bottom: -75px;
}
.section.first .main_category::before {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-color: #0e81a0;
  z-index: -1;
}
.section.first .main_category .container {
  background-color: #0e81a0;
  max-width: 1300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 25px 0;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.section.first .main_category .container .category_span {
  width: 95px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  border-right: 1px solid #EEE;
}
.section.first .main_category .container .category_icon_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.section.first .main_category .container .category_icon_wrap .cate_item {
  padding: 15px 10px 20px;
  border-radius: 20px;
  transition: 0.7s ease all;
}
.section.first .main_category .container .category_icon_wrap .cate_item:hover {
  background-color: #0e8bb0;
}
.section.first .main_category .container .category_icon_wrap .cate_item a .cate_ico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 83.5px;
  height: 40px;
  margin-bottom: 8px;
}
.section.first .main_category .container .category_icon_wrap .cate_item a .cate_txt {
  text-align: center;
}
.section.first .main_category .container .category_icon_wrap .cate_item a .cate_txt span {
  font-size: 17px;
  color: #FFF;
}
.section.first .main_category .container .cate_all_menu_wrap .cate_all_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #07627c;
  transition: 0.7s ease all;
}
.section.first .main_category .container .cate_all_menu_wrap .cate_all_menu:hover {
  background-color: #008859;
}
.section.first .main_category .container .cate_all_menu_wrap .cate_all_menu span {
  color: #FFF;
  font-size: 16px;
  margin-top: 8px;
}
.section.second .container {
  padding-top: 150px;
  padding-bottom: 40px;
}
.section.second .container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.section.second .container .contact_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.section.second .container .contact_wrap .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.section.second .container .contact_wrap .contact img {
  width: 405px;
  height: 376px;
}
.section.second .container .contact_wrap .contact .contact_text {
  padding: 0 40px;
}
.section.second .container .contact_wrap .contact .contact_text h4 {
  font-size: 25px;
}
.section.second .container .contact_wrap .contact .contact_text h4 span {
  color: #0e81a0;
}
.section.second .container .contact_wrap .contact .contact_text p {
  color: #888;
  font-weight: 300;
  margin: 10px 0 40px;
  display: block;
}
.section.second .container .contact_wrap .contact .contact_text .contact_btn {
  font-size: 17px;
  color: #0e81a0;
  border: 2px solid #0e81a0;
  border-radius: 30px;
  padding: 17px 25px;
  display: inline-block;
}
.section.second .container .contact_wrap .api_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  height: 320px;
}
.section.second .container .contact_wrap .api_list .list_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section.second .container .contact_wrap .api_list .list_title h4 {
  font-size: 20px;
}
.section.second .container .contact_wrap .api_list .list_title a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #888;
  transition: 0.7s ease all;
}
.section.second .container .contact_wrap .api_list .list_title a:hover {
  background-color: #0e81a0;
  color: #FFF;
}
.section.second .container .contact_wrap .api_list ul {
  margin-top: 15px;
  width: 100%;
}
.section.second .container .contact_wrap .api_list ul li.api_item {
  border-bottom: 1px solid #ddd;
  padding: 12px 0px;
}
.section.second .container .contact_wrap .api_list ul li.api_item:last-of-type {
  border-bottom: none;
}
.section.second .container .contact_wrap .api_list ul li.api_item a {
  font-size: 18px;
  display: block;
  padding-left: 10px;
  position: relative;
}
.section.second .container .contact_wrap .api_list ul li.api_item a:hover {
  text-decoration: underline;
}
.section.second .container .contact_wrap .api_list ul li.api_item a::before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  content: "";
  position: absolute;
  top: 49%;
  left: 0;
}
.section.second .container .contact_wrap .api_list ul li.api_item span {
  color: #888;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  width: 100%;
  height: 20px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section.second .container .guide_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #000;
  background-color: #0b8487;
  width: 100%;
  padding: 15px 0;
}
.section.second .container .guide_wrap .guide_text {
  width: 125px;
  text-align: center;
}
.section.second .container .guide_wrap .guide_text span {
  color: #46ecef;
  font-size: 18px;
}
.section.second .container .guide_wrap .guide_text p {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}
.section.second .container .guide_wrap .guide {
  width: 100%;
}
.section.second .container .guide_wrap .guide ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section.second .container .guide_wrap .guide ul li.guide_item {
  width: 16.6666666667%;
}
.section.second .container .guide_wrap .guide ul li.guide_item a {
  display: block;
}
.section.second .container .guide_wrap .guide ul li.guide_item a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section.second .container .guide_wrap .guide ul li.guide_item a div .guide_img {
  max-height: 40px;
}
.section.second .container .guide_wrap .guide ul li.guide_item a div .guide_img img {
  display: block;
  filter: brightness(0) invert(1);
}
.section.second .container .guide_wrap .guide ul li.guide_item a div span {
  color: #FFF;
}/*# sourceMappingURL=style.css.map */